.page-home {

  h1 {

    svg {
      transform: translateY(.15em);
    }

  }

  .gatsby-astronaut {

    overflow: hidden;
    width: 10em;
    height: 10em;
    background-color: rebeccapurple;
    border-radius: 100%;
    border: solid 6px rebeccapurple;
    margin: 0 auto 1em;

    img {
      width: 100%;
    }

  }

  pre {
    max-width: 42rem;
    margin: 0 auto;
  }

}