$content-heading-color: white;
$body-color: rgba(white, .8);
$pre: rgba(white, .7);
$pre-background: #2e2252;

@import "~bulma/bulma.sass";

@import "components/__components";
@import "pages/__pages";

body {
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #0f0640;
}

main {
  max-width: 100vw;
  text-align: center;
  padding: 2em 0;
}